@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(90deg, #c2312f, #e57529);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

.search{
    position: relative;
    height: 50px;
    border-radius: 15px;
}

.search .input {
    font-family: inherit;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    border-radius: 15px;
    border-style: none;
    
}

.input::placeholder{
    color: #e33587;
}

.btn{
    background-color: #fff;
    color: #e33587;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 15px;
    border-style: none;
}

.input:focus, .btn:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
color: #e33587;}

.search.active .btn{
    transform: translateX(204px);
}